/*@font-face { font-family: RooneySans; src:url(../gamee-emulator/fonts/rooney_sans-webfont.ttf); }*/

html {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    background-color: #292e3d;
    display: table-cell;
}

body.index {
    background-image: url("img/bg.jpg");
    background-size: cover;
}

body, h1, h2, h3, h4, h5, p, input, button {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

a, a:hover {
    color: #0089df;
    cursor: pointer;
}

label {
    font-weight: 600;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .form-control:focus {
    outline: none;
    outline-color: transparent;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: 50px;
}

.navbar {
    border: none;
    background-color: #FFFFFF;
    /*height: 64px;*/
    /*padding: 12px 50px; */
}

.navbar ul.nav.navbar-nav.align-right {
    float: right;
}

.navbar ul li {
    /*height: 40px;*/
    /*margin: 0 45px;*/
    vertical-align: middle;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    /*padding: 0;*/
    /*margin: 0;*/
    vertical-align: middle;
    line-height: 40px;
    font-size: 14px;
    color: #292e3d;
    opacity: 0.6;
    font-weight: 600;
}

.navbar-default .navbar-nav > li.logo > a {
    opacity: 1.0;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    color: #292e3d;
    background-color: #FFFFFF;
    opacity: 0.6;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    font-weight: 600;
    opacity: 1.0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    font-weight: 600;
    opacity: 1.0;
}

.github-ico {
    height: 17px;
    padding: 0 4px 4px;
}

.container {
    /*width: 1440px;*/
    text-align: center;
}

.page-content {
    min-height: 100vh;
    /* navbar padding */
    padding-top: 64px;
    position: relative;
}

button.green {
    background: #5ac546;
    color: #ffffff;
    border-color: #5cce46;
}

button.green:hover, button.green:focus:hover, button.green:active:hover, button.green:active:focus {
    background: #47ad33;
    color: #ffffff;
    border-color: #4fbb3a;
}

button.green:focus:hover, button.green:active:hover, button.green:active:focus {

    padding-top: 9px;
}

button.green:active, button.green:focus {
    background: #5ac546;
    color: #ffffff;
    border-color: #5cce46;
}

.index-content {
    position: relative;
    top: -50px;
}

/* flexboxes*/
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/*end of flexboxes*/

.index-content_form {
    max-width: 520px;
    margin: 0 auto;
}











.hamster-robot {
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    height: 191px;
    max-height: 191px;
}

.hamster-robot-wrapper {
    margin: 0 auto;
}

.hamster-robot div.hamster-robot-image {
    display: inline-block;
    margin-top: 30px;
}

.hamster-robot-textbox-wrapper {
    display: inline-block;
}

.hamster-robot-textbox {
    width: 265px;
    height: 88px;
    border-radius: 4px;
    background-color: #1a1d27;
    display: inline-block;
    margin: 0 0 28px 12px;
    padding: 20px 30px;
    position: relative;
    vertical-align: top;
    text-align: left;
}

.transform-zero {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
}

.hamster-robot-textbox p {
    font-size: 16px;
    line-height: 1.5;
    color: #d4d4d4;
    margin-bottom: 0;
    z-index: 2;
}

.hamster-robot-textbox p a {
    color: #0e73d7;
}

.hamster-robot-textbox-arrow {
    width: 40.6px;
    height: 30px;
    -webkit-transform: skew(-20deg, -40deg);
    transform: skew(-26deg, -37deg);
    background-color: #1a1d27;
    margin: 0;
    bottom: -8px;
    left: 16px;
    position: absolute;
}

.index-content {
    text-align: left;
}

.index-content h1 {
    /*font-family: RooneySans, "Comic Sans MS";*/
    font-size: 42px;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}

.index-content label {
    margin-bottom: 12px;
}

#iframe-url, #iframe-url-sub {
    font-size: 15px;
    height: 48px;
}

#iframe-url {
    padding: 0 26px;
}

#iframe-url-sub {
    padding-left: 35px;
    padding-right: 35px;
}

h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

.indent-bottom {
    margin-bottom: 32px;
}

.background-light {
    background-color: #292e3d;
}

.background-dark {
    background-color: #14161d;
}

@media (max-width: 768px) {
    .navbar-fixed-top {
        position: relative;
    }

    .navbar ul.nav.navbar-nav.align-right {
        float: none;
    }

    .navbar-default .navbar-nav > li > a {
        text-align: left;
    }

    .page-content {
        min-height: 0;
        padding-top: 0px;
    }

    /*.index-content {
        margin-bottom: 200px;
    }*/

    /*.hamster-robot {
        position: relative;
    }*/
}

/* emulator */

.emulator-tools-wrapper {
    display: table;
    margin: 60px auto;
    text-align: center;
}

.emulator-window-wrapper {
    width: 640px;
    float: left;
    margin-right: 30px;
}

.emulator-window {
    width: 640px;
    height: 640px;
    border-radius: 4px;
    background-color: #DDD;
    overflow: hidden;
    margin: 0 0 20px;
    position: relative;
}

.emulator-capabilities-wrapper {
    min-width: 672px;
    min-height: 800px;
    float: left;
}

.capability-wrapper {
    border-radius: 4px;
    background-color: #191d27;
    text-align: left;
    padding: 24px;
    margin-bottom: 20px;
}

.capability-wrapper h2 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 5px;
}

.capability-wrapper .new-data-bar {
    height: 32px;
    border-radius: 4px;
    background-color: #2c3039;
    font-size: 13px;
    color: #ffffff;
    padding: 7px 16px;
    margin: 15px 0;
}

.capability-wrapper .new-data-bar p {
    float: left;
}

.capability-wrapper .new-data-bar ul {
    float: right;
}

.capability-wrapper .new-data-bar ul li {
    float: left;
    text-indent: 0;
    list-style: none;
    margin-left: 28px;
}

.capability-wrapper .new-data-bar a {
    font-size: 14px;
    font-weight: 600;
    color: #0089df;
}

.capability-wrapper .form-group label {
    opacity: 0.78;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
}

.capability-wrapper .form-group textarea {
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #444;
    overflow: hidden;
    color: #d2d2d2;
    height: 80px;
}

.capability-wrapper .form-group textarea:focus {
    height: 600px;
    overflow: initial;
}

.capability-wrapper button {
    margin: 15px 0;
    width: 216px;
    text-align: center;
}

.capability-send-wrapper {
    text-align: right;
}

.capability-wrapper .icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 22px; /* Or size of icon + spacing */
}

.capability-wrapper h2 .icon {
    padding-left: 24px;
}

.capability-wrapper .icon.ghost {
    background-image: url("/gamee-emulator/img/ghost-mode.png");
}

.capability-wrapper .icon.replay {
    background-image: url("/gamee-emulator/img/replay.png");
}

.capability-wrapper .icon.save {
    background-image: url("/gamee-emulator/img/save-state.png");
}

.emulator-tools-actions-wrapper .radio {
    float: left;
    margin: 10px;
    margin-left: 0;
}

.emulator-tools-actions-wrapper .radio + .radio {
    margin: 10px;
    margin-left: 0;
}

.capability-send-wrapper button:focus:hover, .capability-send-wrapper button:focus, .capability-send-wrapper button:active:focus {
    padding-top: 6px;
}

.emulator-tools-actions-wrapper .capability-send-wrapper button {
    width: 200px;
    margin-left: 15px;
}

.capability-send-wrapper button.transparent {
    background-color: transparent;
    color: #fff;
    border-color: #666;
}

.capability-send-wrapper button.transparent:hover {
    background-color: transparent;
    border-color: #888;
}

.capability-send-wrapper button.transparent:active {
    background-color: transparent;
    color: #fff;
    border-color: #0089df;
}

.shortcut-hints {
    margin: 20px 0;
    text-align: left;
}

.shortcut-hints p {
    opacity: 0.24;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    display: inline-block;
    margin-right: 16px;
}

.shortcut-hints p.shortcut {
    width: 19px;
    height: 19px;
    border-radius: 4px;
    background-color: #ffffff;
    font-weight: 600;
    color: #292e3d;
    margin-right: 2px;
    text-align: center;
}

.capability-loading-wrapper, .capability-not-available-wrapper {
    margin: 40px 0;
}

.capability-not-available-wrapper, .capability-active-wrapper, #action-delete-save-data, .new-data-bar,
#action-play-ghost-mode, #action-play-replay {
    display: none;
}

.emulator-window iframe {
    border: 0;
    padding: 0;
    margin: 0;
}

.emulator-window .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.emulator-window .overlay * {
    pointer-events: initial;
}

.emulator-window .overlay-message {
    display: table;
    margin: 310px auto;
}

.overlay a {
    color: #0089df;
    cursor: pointer;
}

.overlay-play {
    display: none;
    width: 100px;
    height: 100px;
    background: url(/gamee-emulator/img/c-play.svg);
    overflow: hidden;
    position: absolute;
    top: 270px;
    left: 270px;
    cursor: pointer;
}

.overlay-play:hover {
    background-position: 100px 0;
}

.overlay-score {
    display: none;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #292e3d;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    padding: 3px 12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.score-value {
    color: #5ac546;
}

.overlay-pause {
    display: none;
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: 40px;
    height: 40px;
    background-image: url(/gamee-emulator/img/ic-pause1.svg);
    background-color: rgba(255, 255, 255, .4);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-pause:hover {
    background-color: rgba(255, 255, 255, .8);
}