
h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

.indent-bottom {
    margin-bottom: 32px;
}

.background-light {
    background-color: #292e3d;
}

.background-dark {
    background-color: #14161d;
}